<div class="header-wrapper">
  <div class="title-wrapper" routerLink="">
    <i class="fas fa-store"></i>
    <h1 #appTitle class="app-title"></h1>
  </div>
  <nav>
    <ul class="nav-bar">
      <li routerLinkActive="active-tab"
          [routerLinkActiveOptions]="{exact:true}">
        <a *ngIf="!isAdmin" routerLink="">Home</a>
      </li>
      <li *ngIf="!isAdmin" routerLinkActive="active-tab"><a routerLink="/product-list">Products</a></li>
      <li *ngIf="!isAdmin" routerLinkActive="active-tab"><a routerLink="/home-delivery">Delivery</a></li>
      <li *ngIf="!isAdmin" routerLinkActive="active-tab"><a routerLink="/contact-us">Contact</a></li>
      <li *ngIf="isAdmin" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/admin">Dashboard</a>
      </li>
      <li *ngIf="isAdmin" routerLinkActive="active-tab"><a routerLink="/admin/products">Products</a></li>
      <li *ngIf="isAdmin" routerLinkActive="active-tab"><a routerLink="/admin/orders">Orders</a></li>
    </ul>
  </nav>
  <div class="right-tabs">
    <ul *ngIf="isAuthorized" class="nav-bar">
      <li routerLinkActive="active-tab" (click)="logout()"><a routerLink="/logout">Logout</a></li>
    </ul>
    <a *ngIf="!isAdmin&&!isAuthorized" routerLinkActive="active-user" routerLink="/login" class="user-icon-wrapper"></a>
    <a *ngIf="!isAdmin" routerLinkActive="active-cart" routerLink="/cart" class="cart-icon-wrapper"></a>
  </div>
</div>

<router-outlet></router-outlet>
