<div class="cart-item">
  <span class="cart-item-name">{{item.name}}
  </span>
  <div class="inner-wrapper">
    <div class="cart-item-quantity">
    <span [appDisableIcon]="item.quantity <= 1"
      class="subtract-item icon"
      (click)="onItemQuantityDecrease()"
    >
      <i class="far fa-minus-square"></i>
    </span>
      <input
        type="number"
        class="cart-item-quantity-input"
        [value]="item.quantity"
        disabled
      >
      <span class="add-item icon" (click)="onItemQuantityIncrease()">
      <i class="far fa-plus-square"></i>
    </span>
    </div>
    <span class="cart-item-amount">{{item.amount | currency: 'USD'}}</span>
    <span class="delete-item icon" (click)="onDeleteItem()">
    <i class="far fa-times-circle"></i>
  </span>
  </div>
</div>
