<div class="product">
  <img [src]="product.img_small">
  <div class="product-info">
    <span class="title">{{product.name}}</span>
    <span class="price">{{product.price | currency: 'USD'}}</span>
  </div>
  <span *ngIf="product.isAvailable; else notAvailable" class="availability">Available</span>
  <ng-template #notAvailable>
    <span class="out-of-stock">Out of stock</span>
  </ng-template>
  <div class="hover-layer"
       appHighlight
       (click)="onOpenProductPage()"
  >
  </div>
</div>
